In [77]:
# 1010
def factorial(n):
    if n <= 1:
        return 1
    else:
        return n * factorial(n-1)
N = int(input())
for _ in range(N):
    a,b = map(int,input().split())
    print(factorial(b) // (factorial(a)*factorial(b-a)))

3
2 2
1
1 5
5
13 29
67863915

In [78]:
N = int(input())
for _ in range(N):
    a,b = map(int,input().split())
    num = 1
    while a >=1:
        num = num*b/a
        b-=1
        a-=1
    print(f'{num:.0f}')

3
2 2
1
1 5
5
13 29
67863915