<a href="https://colab.research.google.com/github/Kang-Yoonah/BaekJoon/blob/main/Silver/15651.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
def ft(i, N, ans):
    for j in range(1, N+1):
        ans.append(str(j))
        if i == 1:
            print(' '.join(ans))
        else:
            ft(i-1, N, ans)
        ans.pop()        
def sol():
    N, M = map(int, input().split())
    ft(M, N, [])
sol()

3 3
1 1 1
1 1 2
1 1 3
1 2 1
1 2 2
1 2 3
1 3 1
1 3 2
1 3 3
2 1 1
2 1 2
2 1 3
2 2 1
2 2 2
2 2 3
2 3 1
2 3 2
2 3 3
3 1 1
3 1 2
3 1 3
3 2 1
3 2 2
3 2 3
3 3 1
3 3 2
3 3 3