<a href="https://colab.research.google.com/github/Kang-Yoonah/BaekJoon/blob/main/Gold/15686.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [19]:
from itertools import combinations

N, M = map(int,input().split())

city = [list(map(int,input().split())) for _ in range(N)]
chicken, home = [], []

for row in range(N):
    for col in range(N):
        if city[row][col] == 2:
            chicken.append((row,col))
        elif city[row][col] == 1:
            home.append((row,col))

ans = 2*N*101
for chicken_list in combinations(chicken, M):
    total = 0
    for h in home:
        m = 2*N+1
        for c in chicken_list:
            m = min(m, abs(h[0]-c[0])+abs(h[1]-c[1]))
        total += m
    ans = min(total, ans)
print(ans)

5 1
1 2 0 0 0
1 2 0 0 0
1 2 0 0 0
1 2 0 0 0
1 2 0 0 0
11